@charset "UTF-8";

footer{
    /* width: 100%; */
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 2%;
    padding-top: 2%;
    /* padding-top: 10%; */
    background-color: rgba(37, 56, 137, 0.09);
}
p.foot{
    text-align: right;
}
a.contactos{
    min-width: 200px;
    font-size: small;
    text-decoration: none;
    margin: 3%;
    color: grey;
    
}

img.foot{
    margin-top: 2%;
    margin-right: 2%;
    width: 20px;
    height: 20px;
}

a.contactos{
    display: inline-block;
}