@charset "UTF-8";

footer{
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 10%;
    /* padding-top: 10%; */
    background-color: rgba(37, 56, 137, 0.09);
}
p.foot{
    text-align: right;
}
a.contactos{
    font-size: small;
    text-decoration: none;
    margin: 3%;
    color: grey;
    
}

img.foot{
    margin-top: 10%;
    margin-right: 3%;
    width: 20px;
    height: 20px;
}
#IDinstagram{
    margin-left: 27%;
}

#IDe-mail{
    margin-left: 37%;
}