@charset "UTF-8";

main{
    width: 100%;
    /*max-width: 320px;*/
}

form{
    background-color: white;
    text-align: center;
    width: 90%;
    padding: 2%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

h1{
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 10%;
    color: #253889;
}
p{
    font-size: 1.01em;
    color: grey;
    font-weight: lighter;
}
input{
    width: 80%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    margin-bottom: 2em;
}
label{
    text-align: left;
    display: inline-block;
}
label>img{
    width: .9em;
    height: .9em;
}
#botao_logar{
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right,#253889, #36a9e1);
    color: white;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 81%;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 13%;
}
#botao_logar:hover{
    background-image: linear-gradient(to right, #3361aa,#36a9e1, #253889);
    box-shadow: -1px -1px 10px rgba(96, 153, 183, 0.32);
    translate: 0px -3px;
    transition-duration: 1.5s;
    /* width: 79%; */

}

p.linha{
    font-size: 1.01em;
    margin-bottom: 0px;
}

div.icones{
    margin: 20px;
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
}
div.icones:hover{
    border-radius: 50%;
    background-color: #36a9e1;
    transition-duration: 1s;
}
#google{
    background-image: url("../icones/icons8_Google_64px.png");
}
#facebook{
    background-image: url("../icones/icons8_Facebook_Circled_64px.png");
}

#sem_conta{
    color: #253889;
    font-weight: bold;
    text-decoration: none;
}
#sem_conta:hover{
    color: #36a9e1;
    font-size: 1.05em;
    transition-duration: 1s;
}
